*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* El reposive table */
@media (max-width:768px){
/* Este es el inicio */
    .encabezado{
        width: 760px;
    }
    .section__contenedor--inicio{
        width: 760px;
    }
    .section__contenedor--inicio--titulo{
        font-size: 20px;
    }
    .section__contenedor--inicio--parrafo{
        font-size: 17px;
    }
    .section__contenedor--inicio--articol {
        font-size: 17px;
        /* El esta clase toma el parrafo */
    }
    .section__contenedor--inicio--button{
        width: 150px;
        font-size: 20px;
    }
    /*El codigo la card informaciin */
    .section__contenedor--info--titulo h1{
        font-size: 20px;
    }
    .section___contenedor--info--parrafo{
        font-size: 10px;
    }
    .section__contenedor--info--button{
        
    }
    /* las cards de experiencia  */
    .section__contenedor--servicios--conten{
        width: 400px;
    }
}
.encabezado{
    display: flex;
    box-shadow: 5px 0px 5px  ;
    scroll-behavior: smooth;

}
.encabezado__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

}
.encabezado__img{
    margin-right: 50px;
}
.encabezado__ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 10px;
}
.encabezado__li{
    margin-left: 10px;
    padding: 7px;
    background-color: #D684FC;
    border-radius: 30px;
}
.encabezado__a{
    color: white;
    text-decoration: none;
}

.box{
    max-width: 1204px;
    margin: 0 auto;
}

.section__contenedor--inicio{
    background-image: url(samu02.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    padding: 150px;
    margin-top: 5px;
    image-rendering: unset;

}
.section__contenedor--inicio--articol{
    text-align: center;
}
.section__contenedor--inicio--titulo{
    font-size: 28px;
    text-align: left;
}
.section__contenedor--inicio--parrafo{
    text-align: justify;
}
.section__contenedor--inicio--button{
    height: 40px;
    font-size: 20px;
    color: #8919B2;
    border: 1px solid #8919B2;
    border-radius: 10px;
    margin-top: 50px;
}
.section__contenedor--info{
    background-color: #D684FC;
    height: 340px;
    text-align: center;
}
.section__contenedor--info--titulo{
    font-size: 40px;
}
.section___contenedor--info--parrafo{
    font-size: 22px;
}
.section__contenedor--info--button{
    margin-top: 70px;
    height: 40px;
    font-size: 20px;
    width: 100px;
    border-radius: 30px;
    color: #8919B2;
    border:1px solid #8919B2;
}
.section__contenedor--servicios{
    display: flex;
    flex-direction: row;
    background-color: white;
}
.section__contenedor--servicios--conten{
    display:flex ;
    flex-direction: column;
    box-shadow: 1px 1px 10px;
    margin: 10px;   
 
}
.section__contenedor--servicios--conten--titulo{
    margin-left: 170px;
    padding: 10px;
    background-color: #8919B2;
    width: 100px;
    color: white;
    border-radius: 30px;
}
.section__contenedor--servicios--img--black{
    width: 50px;
}
.section__contenedor--servicios--img--tortuga{
    width: 50px;
}
.section__contenedor--servicio--parrafo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section__contenedor--servicio--parrafo--derecha{
    display: flex;
    flex-direction: row;
}
.parrafo{
    margin-left: 200px;
}
.section__contenedor--servicio--input{
    border-radius: 30px;
    border: 2px solid;
    height: 40px;
    width: 320px;
    text-align: left;
    background-color: #D9D9D9;
    border-color: #D9D9D9;
}
.section__contenedor--servicio--button{
    width: 80px;
    font-size: 16px;
    margin-left: 200px;
    border: none;
    background-color: #D9D9D9;
    display: block;
    position: absolute;
}
.section__contenedor--servicio{
    display: flex;
    flex-direction: row;
    align-items: center;
}
hr{
    border: 1px solid black;
}
.fa{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 194px;
    justify-content: space-around;
}
/* El css donde no se ah logrado */
 .section__contenedor{
    display: flex;
    flex-direction: row;
    background-color:white ;
}
.section__contenedor--div{
  display: flex;
  flex-direction: column;
  background-color: white;
}
.section__cont--div--arti{
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 3px;
  background-color: white;
}
.section__cont--div--arti--titulo{
  margin-top: 10px;
    margin-left: 220px;
    padding: 10px;
    background-color: #8919B2;
    width: 80px;
    color: white;
    border-radius: 30px;
} 
.section__contenedor--div{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px;
    background-color: white;
}
.contenedor--img--li{
    list-style: none;
}
.img--contenedor{
    width: 100px;
    height: 80px;
}
/* El css del filtro */
.section__filtro{
    display: flex;
    flex-direction: row;
}
.section__filtro--art{
    display:flex ;
    flex-direction: column;
    box-shadow: 1px 1px 10px;
    background-color: white;
}
.section__filtro--art1{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px;
    height: 150px;
}
.sectiom__filtro--art--titulo{
    margin-left: 220px;
    background-color: #8919B2;
    width: 120px;
    color: white;
    text-align: center;
    border-radius: 30px;
}
.section__filtro--art--input{
    width: 300px;
    border-radius: 30px;
    border: 1px solid;
    height: 23px;
}
.section__filtro--art--img{
    display: block;
    position: absolute;
    margin-top: 20px;
    margin-left: 270px;
}
.section__filtro--art--button1{
    width: 70px;
    text-align: center;
    display: block;
    position: absolute;
    margin-top: 110px;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
}
.section__filtro--art--button2{
    width: 70px;
    text-align: center;
    display: block;
    position: absolute;
    margin-top: 50px;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
}
.section__filtro--art--button3{
    width: 70px;
    text-align: center;
    display: block;
    position: absolute;
    margin-top: 50px;
    margin-left: 90px;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
} 
.section__filtro--art--button4{
    width: 70px;
    text-align: center;
    display: block;
    position: absolute;
    margin-top: 50px;
    margin-left: 180px;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
}
.section__filtro--art--button5{
    width: 70px;
    text-align: center;
    display: block;
    position: absolute;
    margin-top: 80px;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
}
.section__filtro--art--button6{
    width: 70px;
    text-align: center;
    display: block;
    position: absolute;
    margin-top: 80px;
    margin-left: 90px;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
}
.section__filtro--art--button7{
    width: 70px;
    text-align: center;
    display: block;
    position: absolute;
    margin-top: 80px;
    margin-left: 180px;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
}
.section__filtro--art--button8{
    width: 70px;
    text-align: center;
    display: block;
    position: absolute;
    margin-top: 80px;
    border: 1px solid #D9D9D9;
    border-radius: 30px;
}
/* Empieza el css de elige */
.section__elige{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section__elige--cont{
    display:flex ;
    flex-direction: column;
    box-shadow: 1px 1px 10px;
    background-color: white;
    justify-content: center;
}
.section__elige--img{
    width: 220px;
}
.section__elige--arti{
    text-align: center;
}
.solid{
    display: flex;
    justify-content: center;
}
.section__elige--cont--titulo{
    margin-left: 200px;
    background-color: #8919B2;
    width: 120px;
    color: white;
    text-align: center;
    border-radius: 30px;
}
.section__otor{
    display: flex;
    flex-direction: row;
    background-color: #D684FC;
    height: 400px;
}
.section__otor--arti {
    display:flex ;
    flex-direction: column;
    box-shadow: 1px 1px 10px;
    background-color: white;
    text-align: center;
    border-radius: 30px;
    justify-content: center;
}
.section__otor--arti--div{
    margin-top: 19px;
    height: 300px;
    width: 400px;
}
.section__otor--titulo{
    font-size: 30px;
    text-align: center;
}
/* Este es el css de los planes */
.section__cont--pac{
    display: flex;
    flex-direction: row;
}
.sectiom__cont--pac--titulo{
    margin-left: 550px;
}
.section__cont--pac--arti{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.section__cont--pac--arti--titulo{
    display: flex;
    background-color: #8919B2;
    width: 130px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    border-radius: 30px;
    margin-left: 35px;
    font-size: 20px;
}
.section__cont--pac--art--button{
    margin-top: 10px;
    font-size: 18px;
    width: 120px;
    background-color: #D684FC;
    color: white;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #D684FC;
}
.section__cont--pac--div{
    width: 200px;
    height: 400px;
}
/* Este es el css de de los comentarios */
.section--cont--coment{
    background-color: #D684FC;
    height: 1400px;
}
.section--cont--coment--titulo{
  font-size: 34px;
  display: flex;
  justify-content: center;
}
.section--cont--coment--arti{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.section--cont--coment--arti2{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.section--cont--coment-div{
  width: 400px;
  padding: 20px;
  background-color: #D9D9D9;
  border: solid 1px #D9D9D9;
  box-shadow: 1px 1px 2px;
  border-radius: 10px;
  text-align: justify;
}
.section--cont--coment-div{
  padding: 20px;
}
.section--cont--coment--artil{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}
.section--cont--art--p{
    display: flex;
}
.section--cont--coment-p{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
}
.section-cont--coment-artil-button{
  background-color: #BB42F3;
  border: 1px solid #D684FC;
  border-radius: 30px;
  font-size: 20px;
  width: 160px;
  height: 40px;
}
/* El css del footer */
.foooter--articul--div{
  display: flex;
}
.footer--articul--img{
  width: 40px;
}
.footer--articul--button{
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
}
