*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.encabezado{
    display: flex;
    box-shadow: 5px 0px 5px  ;
    scroll-behavior: smooth;

}
.encabezado__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

}
.encabezado__img{
    margin-right: 50px;
}
.encabezado__ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 10px;
}
.encabezado__li{
    margin-left: 10px;
    padding: 7px;
    background-color: #D684FC;
    border-radius: 30px;
}
.encabezado__a{
    color: white;
    text-decoration: none;
}

.box{
    max-width: 1204px;
    margin: 0 auto;
}
/* }
.section__contenedor--inicio{
    background-image: url(samu02.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    padding: 150px;
    margin-top: 5px;
    image-rendering: 130%;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: inherit;
    image-rendering: initial;
    image-rendering: unset;

}
.section__contenedor--inicio--articol{
    text-align: center;
}
.section__contenedor--inicio--titulo{
    margin-left: 50px;
    text-align: left;
    font-size: 30px;
}
.section__contenedor--inicio--parrafo{
    margin-left: 50px;
    text-align: justify;
}
.section__contenedor--inicio--button{
    height: 40px;
    font-size: 20px;
    color: #8919B2;
    border-color: #8919B2;
    border-radius: 10px;
    margin-top: 50px;
}
.section__contenedor--info{
    background-color: #D684FC;
    height: 400px;
}
.section__contenedor--info{
    text-align: center;
}
.section__contenedor--info--titulo{
    font-size: 40px;
}
.section___contenedor--info--parrafo-32{
    font-size: 28px;
}
.section__contenedor--info--button{
    margin-top: 70px;
    height: 40px;
    font-size: 20px;
    width: 100px;
    border-radius: 30px;
    color: #8919B2;
    border-color: #8919B2;
}
.section__conetendor--servicios--conten{
    display:flex ;
    flex-direction: column;
}
.section__contenedor--servicios--conten--titulo{
    margin-left: 150px;
} */